body {
    background-color: black;
    color: antiquewhite;
    margin: 5px;
}

html, body {
    height: calc(100% - 5px);
    overflow: hidden;
}

th {
    color: white;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

table {
    border-collapse: collapse;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    text-align: right;
}

a:link, a:visited {
    color: antiquewhite;
    text-decoration: none;
}

.highlight {
    background-color: dimgray;
    color: white;
}

.unique {
    color: yellow;
}

.pointer {
    cursor: pointer;
}

.imgBorder {
    border: 1px solid white;
}

.has-scrollbar {
    padding-right: 6px;
}

.no-scrollbar {
    padding-right: 2px;
}

.statsTable {
    font-size: xx-large;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
}

#left {
    flex: 0 0 auto;
    overflow-y: auto;
}

#left table {
    white-space: nowrap; /* Prevents text wrapping */
}

#right {
    padding-left: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right table {
    margin-left: 10px;
}

#right tr * {
    padding-right: 30px;
}

#right th:last-child {
    text-align: center;
}

#photos {
    display: grid;
    gap: 4px; /* Space between images */
    column-gap: 6px;
}

#photos img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

#photos:has(img:nth-child(2)) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
}

#links {
    padding-top: 10px;
}

#focusHelper {
    position: absolute;
    left: -9999px;
}

#filterBox {
    position: relative;
    overflow: hidden;
}

#filter {
    color: white;
    background-color: transparent;
    margin-bottom: 2px;
    margin-left: 5px;
    width: 100%;
}

#filterClear {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    color: gray;
    cursor: pointer;
}