body {
    background-color: black;
    color: antiquewhite;
    margin: 5px;
}

html, body {
    height: calc(100% - 5px);
    overflow: hidden;
}

th {
    color: white;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

table {
    border-collapse: collapse;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    text-align: right;
}

a:link, a:visited {
    color: antiquewhite;
    text-decoration: none;
}

.highlight {
    background-color: dimgray;
    color: white;
}

.unique {
    color: yellow;
}

.pointer {
    cursor: pointer;
}

.imgBorder {
    border: 1px solid white;
}

.has-scrollbar {
    padding-right: 6px;
}

.no-scrollbar {
    padding-right: 2px;
}

.statsTable {
    font-size: xx-large;
}

#stats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    overflow: hidden;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
}

#left {
    display: flex;
    flex-direction: column;
}

#htable {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

#htable table {
    white-space: nowrap; /* Prevents text wrapping */
}

#right {
    padding-left: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#stats table {
    margin-left: 10px;
    width: auto;
}

#stats tr * {
    padding-right: 30px;
}

#stats th:last-child {
    text-align: center;
}

#photos {
    display: grid;
    gap: 4px; /* Space between images */
    column-gap: 6px;
}

#photos img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

#photos:has(img:nth-child(2)) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
}

#links {
    padding-top: 10px;
}

#focusHelper {
    position: absolute;
    left: -9999px;
}

#filterBox {
    padding-top: 4px;
    padding-right: 6px;
    position: relative;
}

#filter {
    color: white;
    background-color: transparent;
    width: 100%;
}

#filterClear {
    position: absolute;
    right: 18px;
    top: 58%;
    transform: translateY(-50%);
    display: none;
    color: gray;
    cursor: pointer;
}

#info {
    position: absolute;
    right: 2px;
    top: 57%;
    transform: translateY(-51%);
    color: gray;
    cursor: pointer;
}

#chart {
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: 8px;
}

#myCanvas {
    width: 100%;
    display: block;
}

.ui-dialog {
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border: 3px solid darkgray;
}

.ui-dialog .ui-dialog-titlebar, .ui-dialog-content {
    padding: unset !important;
}

.ui-dialog-titlebar {
    margin-bottom: 5px;
}

.ui-dialog-title {
    text-align: center;
}